.ota{
    width: 227px;
    height: 24px;
    margin-top:18px;
    margin-left: 55px;
}
.box{
    width: 1,440px;
    height: 800px;
    background-color: #F3D7B7;
    margin-top: -4px;
    margin-left: 5px;
}
.box1{
    width: 34px;
    height: 14px;
    margin-top: -24px;
    margin-left: 1085px;
}
.box2{
    width: 165px;
    height: 14px;
    margin-top: -30px;
    margin-left: 1163px;
}
.box3{
    width: 327px;
    height: 14px;
    margin-top: -30px;
    margin-left: 1280px;

}
.box4{
    width: 447px;
    height: 160px;
    margin-top: -672px;
    margin-left: 52px;
}
p{
    width: 464px;
    height: 72px;
    margin-top: -52px;
    margin-left: 100px;
}
.box5{
    width: 710px;
    height: 694px;
    margin-top: -170px;
    margin-left: 735px;
}
.box6{
   width: 193px;
   height: 51px;
   background-color: #0A775F;
   margin-top:-503px ;
   margin-left: 55px;
   border-radius: 100px;
}
h3{
   position: absolute;
   color: aliceblue;
}
.BO{
    width: 356.99px;
    height: 59px;
    margin-top: 508px;
    margin-left:600px;
}
.ko{
   width: 451.25px;
   height: 375px;
   top: 1009px;
   left: 159.45px;
} 
.HOJ{
    width: 164.46px;
    height: 56px;
    margin-top: -273px;
     margin-left    : 728.03px;
}
.nam2{
    width: 454.26px;
    height: 68px;
    margin-top: -10px;
    margin-left: 728.03px;
}
.box9{
    width: 327.91px;
    height: 56px;
    margin-top: 250px;
    margin-left: 150px;  
}
.lo3{
    width: 391.08px;
    height: 68px;
    margin-top: -32px;
    margin-left: 100px;
}
.ko5{
    width: 451.25px;
    height: 375px;
    margin-top: -250px;
    margin-left: 700px;
}
.gh5{
    width: 451.25px;
    height: 375px;
    margin-top: -33px;
    margin-left: 100px;
}
.ui8{
    width: 194.54px;
    height: 56px;
    margin-top: -250px;
    margin-left: 679px;
}
.lp9{
    width: 391.08px;
    height: 68px;
    margin-left: 600px;
}
.ulo43{
    width: 209.58px;
    height: 56px;
    margin-top:200px ;
    margin-left: 300px;
}
.gi7{
    width: 411.14px;
    height: 68px;
    margin-top: -22px;
    margin-left: 200px;
}
.yu6{
    width: 451.25px;
    height: 375px;
    margin-top:-250px ;
    margin-left: 700px;
}
.ty5{
    width: 1494px;
    height: 150px;
    background-color: rgb(247, 214, 117);
    top: 2598px;
}
 .nbm{
    width: 235px;
    height: 24px;
    margin-top: 50px;
    margin-left: 50px;
 }
 .bo0{
    width: 49px;
    height: 19px;
    margin-top: -22px;
    margin-left: 532px;
 }
 .bo2{
    width: 84px;
    height: 19px;
    margin-top: -35px;
    margin-left: 632px;
 }
 .ox3{
    width: 165px;
    height: 19px;
    margin-top: -35px;
    margin-left: 744px;
 }
.toliliv{
    width: 30px;
}
